@import '../globals';

div {
  font-size: 0.5rem;
  line-height: 0.6875rem;
  border-radius: 0.625rem 0.625rem 0.25rem 0.625rem;
}

.walker {
  color: $chatRight;
  background: hsl(276, 41%, 93%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  // border-radius: 0.25rem 0.625rem 0.625rem 0.625rem;

}

.customer {
  color: $chatRight;
  background: $white;
  // border-radius: 0.625rem 0.625rem 0.25rem 0.625rem;
  box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
}