@import '../globals';

.container {
  @include flex-row;
  align-content: center;
  margin: .5rem;
  padding: 0 1rem;
  border-radius: 0.625rem 0.625rem 0.625rem .25rem;
  background-image: $gradient;
  color: $white;
  line-height: 11px;
  box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.01);

  .left {
    width: 70%;
    @include flex-row;
    justify-content: flex-start !important;
    align-content: center;
    justify-self: start;
    margin-left: -.75rem;

    // .radio {
    //   margin: 0 .5rem 0 0;
    // }

    input[type='radio']:after {
      width: .7rem;
      height: .7rem;
      border-radius: 50%;
      top: 0px;
      left: 0px;
      position: relative;
      background: $gradient;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 1px solid $radioButton;
      // transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  input[type='radio']:checked:after {
      width: .7rem;
      height: .7rem;
      border-radius: 50%;
      top: 0px;
      left: 0px;
      position: relative;
      background: hsl(276, 100%, 81%);
      content: '';
      display: inline-block;
      visibility: visible;
      border: 1px solid $radioButton;
  }

    .duration {
      margin: 0;
      font-size: .5rem;
    }
  }

  .cost {
    font-size: .7rem;
    font-weight: 700;
  }
}