@import '../globals';

.container {
  margin: .8rem .5rem .5rem .5rem;

  input {
    width: 100%;
    padding: .65rem;
    background: $white;
    font-size: 0.5625rem;
    border-radius: 1rem;
    border: none;
    margin-bottom: .7rem;

    &::placeholder {
      color: hsl(210, 7%, 79%);
      letter-spacing: -0.07px;
    }
  }

  button {
    border: none;
    border-radius: 1rem;
    background: $submitButton;
    overflow: visible;
    position: absolute;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 1.4375rem;
    width: 1.4375rem;
    bottom: 1.5rem;
    right: 1.3rem;

    span {
      color: $white;
      box-sizing: border-box;
      position: relative;
      display: block;
      width: 22px;
      height: 22px;
      border: 2px solid transparent;
      border-radius: 100px
    }

    span::after {
      color: $white;
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 10px;
      height: 10px;
      border-bottom: 2px solid;
      border-right: 2px solid;
      border-radius: 2px;
      transform: rotate(-45deg);
      right: 5px;
      top: 4px
    }
  }
}