input[type="radio"] {
  opacity: 0;
  cursor: pointer;
  display: block;
  width: .75rem;
  height: .75rem;
  position: absolute;
  outline: none;
  left: 0;
  z-index: 7;
  
  &:checked+label .circle:before {
    background: $radioButton;
  }
  
  &:checked:hover+label .circle:before {
    background: transparent;
  }
  
  &:checked {
    background: transparent;
    width: 100%;
    left: 20%;
    @media(max-width:640px){
      left:0%;
    }
    margin-left:20px;
    & .inner-text {
      width: 80%;
    }
  }
  &:hover + label .circle{
    border-color: $radioButton;
  }
  
  &+label {
    float:left;
    clear:both;
    position: absolute;
    left: 0;
    background-color: transparent;
  }
}